<footer class="footer">
  <small>
    The <%=link_to "Ruby on Rails Tutorial","https://www.railstutorial.org/"%>
    by <%=link_to "Michael Hartll","http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"),contact_path %></li>
      <li><%=link_to t(".news"),"http://news.railstutorial.org/"%>
    </ul>
    <ul>
      <li><%= link_to "English", locale:"en" %></li>
      <li><%= link_to "Vietnamese", locale:"vi" %></li>
    </ul>
  </nav>
</footer>
